<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.session.web.http.SessionRepositoryFilter.SESSION_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.session" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="org.apache.http.client" level="DEBUG" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.zap.framework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>